@font-face{
    font-family: "H7GBK-Heavy";
    src: url('https://hw-media-cdn-minghao.kurogame.com/font/H7GBK-Heavy.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

.container {
    max-width: 100%;
}
  
  
/* Header Section */

header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0 10%;
    height: 10vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

nav, .menu-items{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    padding-right: 2rem;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
}

a{
    text-decoration: none;
    text-underline-offset: 7px;
    font-size: 1.6rem;
    color: #EEE;
    font-weight: 600;
    -webkit-text-stroke: .2px #E90074;
}

a:hover{
    color: #E90074;
    text-decoration: underline 2px;
    text-underline-offset: 7px;
    background: #EEE;
    padding: 0.6rem;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}

.logo img{
    height: 40px;
    width: 80px;
    filter: drop-shadow(2px 2px 2px #333);
}


/* Home Section */

.home, .container{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: #f5f5f5;
    overflow: hidden;
}

.item{
    width: 165px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #151212;
    display: inline-block;
    transition: 0.5s;
}

.item:nth-child(1), .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.item:nth-child(3){
    left: 70%;
}

.item:nth-child(4){
    left: calc(70% + 210px);
}

.item:nth-child(5){
    left: calc(80% + 430px);
}

.item:nth-child(n + 6){
    left: calc(80% + 650px);
    opacity: 0;
}

.content{
    position: absolute;
    top: 50%;
    left: 60px;
    width: 380px;
    text-align: left;
    color: rgb(248, 237, 237);
    transform: translate(0, -50%);
    font-family: "H7GBK-Heavy";
    display: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    text-align: center;
    box-shadow: 1px 1px 5px #333;
}

.item:nth-child(2) .content{
    display: block;
}

.content .name{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
    animation: animate 1s
    ease-in-out 1 forwards;
    -webkit-text-stroke: .5px black;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
    opacity: 0;
    animation: animate 0.5s ease-in-out 1 forwards;
    -webkit-text-stroke: .1px #bcaeae;
    color: black;
    filter: drop-shadow(5px 5px 5px #EEE);
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.buttons{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 60px;
}

button{
    width: 50px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-image: url(assets/prev.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin-inline: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(5px 5px 5px #e6dfdf);
}

.next{
    background-image: url(assets/next.png);
}

/* About Section */

.about-section{
    padding-top: 1.3rem;
    min-height: 100vh;
}

.sign{
    text-align: center;
    padding: 1rem 0;
}

img, #logo-sign{
    width: 190px;
    height: 70px;
    margin-top: -.7rem;
}

.heading{
    font-size: 1.4rem;
    font-weight: 600;
    color: #AA5E65;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13rem;
    margin-top: 2rem;
}

.about-content{
    height: 470px;
    width: 590px;
    padding: 1rem;
    margin: 0 1rem;
    color: #E90074;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #AA5E65;
    overflow: auto;
}

.about-img img{
    height: 500px;
    width: 400px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 8px #AA5E65);
}

/* Gallery Section */

.gallery{
    min-height: 100vh;
    padding: 2.5rem 5.4%;
}

#gallery-logo, img{
    height: 30px;
    width: 90px;
}

.gallery-sign{
    font-size: 3rem;
    color: #AA5E65;
}

.gallery .gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .gallery-container .image{
    height: 25rem;
    flex: 1 1 40rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.gallery .gallery-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Footer Section */

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
    font-size: 18px;
    color: rgb(157, 44, 82);
}

.menu-footer{
    height: 125px;
}

.menu-footer a{
    font-size: 2rem;
    color: #E90074;
}

.menu-footer a:hover{
    background: #E90074;
    color: #EEE;
    text-decoration: underline #EEE;
}